<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="servidores"  type="System.Configuration.DictionarySectionHandler"/>
  </configSections>

  <servidores>
    <!-- servidores possiveis de instanciar -->
    <add key="servidor1" value="http://localhost:9090/KeyValueServer.soap"/>
    <add key="servidor2" value="http://localhost:9095/KeyValueServer.soap"/>
    <add key="servidor3" value="http://localhost:9100/KeyValueServer.soap"/>
    <add key="servidor4" value="http://localhost:9105/KeyValueServer.soap"/>
    <add key="servidor5" value="http://localhost:9110/KeyValueServer.soap"/>
    <add key="servidor6" value="http://localhost:9115/KeyValueServer.soap"/>
    <add key="servidor7" value="http://localhost:9120/KeyValueServer.soap"/>
  </servidores>


</configuration>